* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Changed to column for better layout */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    max-width: 100%;
    height: auto;
}

h2, h3 {
    text-align: center;
    margin: 15px 0;
}

h2 {
    font-size: 1.5em;
    color: #e94d58;
}

h3 {
    font-size: 1.4em;
    color: #3FD485;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px; /* Spacing between buttons */
    width: 150px;
    height: 50px; /* Fixed height for uniformity */
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    background: #e94d58;
}

button.no-btn {
    background: white;
    color: #e94d58;
}

.date-time-picker {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin-top: 20px; /* Spacing from top elements */
}

.date-time-picker form {
    margin: 0 auto;
    text-align: center;
}

.date-time-picker input[type=datetime-local] {
    width: 350px;
    padding: 12px;
    margin: 10px auto;
    display: block;
    border-radius: 15px;
    font-size: 1.1em;
    border: 2px solid #000000;
}

.submit-btn {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    background: #e94d58;
}

#submissionMessageContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
}

#submissionMessage {
    font-size: 1.2em;
    color: #e94d58;
}

#calendar {
    max-width: 900px;
    margin-top: 20px;
    width: 100%;
}
